<template>
  <button class="button" :class="[theme || 'primary']">
    <slot></slot>
  </button>
</template>

<script setup lang="ts">
defineProps<{
  theme?: "primary" | "secondary"
}>()

</script>

<style lang="scss" scoped>
.button{
  @apply px-4 py-1 rounded disabled:opacity-30 shadow;
  &.primary{
    @apply bg-blue-400 text-white active:bg-blue-300;
  }
  &.secondary{
    @apply bg-red-400 text-white active:bg-red-300;
  }
}
</style>ase