<template>
  <div class="bg-gray-200 relative">
    <div :class="{
    'bg-green-500': progress > 50,
    'bg-yellow-500': progress > 30 && progress <= 50,
    'bg-red-500': progress <= 30
  }" class="bar">
    </div>
    <div class="absolute top-0 bottom-0 left-0 w-full items-center flex justify-center"><slot></slot></div>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  progress:number
}>()
</script>

<style scoped>
.bar{
  @apply h-5 text-white text-center opacity-60;
  --width: 100;
  width: v-bind(progress + '%');
  transition: width .5s, background-color .5s;
}
</style>