<template>
  <div class="bg-gray-100 flex flex-col gap-2 w-[40rem] p-4">
    <h1 class="text-4xl">Joke Random</h1>
    <p v-if="isError" class="text-red-500">Server Error</p>
    <template v-else>
      <p class="text-gray-500">{{ jokeAnswer.value }}</p>
      <div class="flex gap-2">
        <base-button
            :disabled="loading"
            @click="answerHandler(true)"
        >
          true
        </base-button>
        <base-button
            :disabled="loading"
            @click="answerHandler(false)"
            theme="secondary"
        >
          false
        </base-button>
      </div>
      <p>
        <span class="font-medium text-green-600">WIN: {{ winCount }}</span>
        <span class="ml-4 font-medium text-red-600">LOSE: {{ loseCount }}</span>
      </p>
      <progress-bar :progress="progress">
        {{ timer }}s
      </progress-bar>
    </template>
  </div>
</template>

<script setup lang="ts">
import {computed, onMounted, ref, watch, watchEffect} from "vue";
import {useGetJoke} from "../composables/useGetJoke.ts";
import {useTimer} from "../../shared/composables/useTimer.ts";
import BaseButton from "../../shared/ui/base-button.vue";
import ProgressBar from "../../shared/ui/pregress-bar.vue";
import {isEvenFromWord} from "../../shared/config/isEven.ts";


const startTime = 15
const progress = computed(() => timer.value / startTime * 100)
const isEven = computed(() => isEvenFromWord(jokeAnswer.value.value))
const {getJoke, jokeAnswer, isError, loading} = useGetJoke()
const {startTimer, timer, stopTimer} = useTimer(startTime)
const winCount = ref(0)
const loseCount = ref(0)

const answerHandler = (answer: boolean) => {
  if (answer === isEven.value) winCount.value++
  else loseCount.value++
  getJoke().then(() => {
    startTimer()
  })
}

onMounted(() => {
  getJoke().then(() => {
    startTimer()
  })
})

watch([timer,isError],() => {
  if (isError.value) {
    return stopTimer()
  }
  if (timer.value === 0) {
    getJoke().then(() => {
      startTimer()
    })
    loseCount.value++
  }
})
</script>