<script setup lang="ts">
import JokeRandom from "../features/ui/joke-random.vue";
</script>

<template>
  <div class="h-screen flex flex-col items-center justify-center">
    <joke-random/>
  </div>
</template>

<style scoped>
</style>
